.container{
  display: flex;
  align-items: center;
  gap:100px;
}
.item{
  flex:1;
  display: flex;
  flex-direction:column;
  gap:20px;
}
.title{
  font-size: 60px ;
  background: linear-gradient(to bottom,#fca84f,lightgray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image{
  position: relative;
  width: 100%;
  height: 500px;
  


}

.discription{
  font-size: 25px;
}
.button{
  padding:8px;
  width: max-content;
  border-radius: 5px;
  cursor:pointer;
  background-color: #fca84f;
  color: black;
}