.container{
  display: flex;
  align-items: center;
  gap:100px;
}
.item{
  flex:1;
  display: flex;
  flex-direction:column;
  gap:20px;
  
}
.title{
  font-size: 60px ;
  background: linear-gradient(to bottom,#fca84f,lightgray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.discription{
  font-size: 25px;
}
.button{
  padding:8px;
  width: max-content;
  border-radius: 5px;
  cursor:pointer;
  background-color: #fca84f;
  color: black;
}
@media only screen and (min-width: 500px) and (max-width: 789px){
.container{
  flex-direction: column-reverse;
}
}
@media only screen and (max-width: 499px){
  .container{
    flex-direction: column-reverse;
  }
}