.container{

}
.title{
    font-size: 45px;
    color: #fca84f;
}

.img{
    object-fit: cover;
}
.items{
    display: flex;
    gap:80px;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.items:nth-child(2n+1){
    flex-direction: row-reverse;
}
.content{
    display: flex;
    flex: 1;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
}
.link{
    padding:8px;
    background-color:#fca84f;
    color: black;
    max-width: fit-content;
    border-radius: 3px;
}

@media screen and (max-width:720px){
    .items{
        flex-direction: column-reverse;
        align-items: center;
    }
    .items:nth-child(2n+1){
        flex-direction: column-reverse;
    }
}